<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bigBox</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>|_____</string>
				<key>action</key>
				<string>[OPTION+SHIFT+LEFT]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string>|__</string>
				<key>action</key>
				<string>[SHIFT+LEFT]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string>__|</string>
				<key>action</key>
				<string>[SHIFT+RIGHT]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string>_____|</string>
				<key>action</key>
				<string>[OPTION+SHIFT+RIGHT]</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>text</key>
				<string>| WORD</string>
				<key>action</key>
				<string>[OPTION+LEFT]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[UP]</string>
				<key>image</key>
				<string>arrow-up.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>WORD |</string>
				<key>action</key>
				<string>[OPTION+RIGHT]</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[LEFT]</string>
				<key>image</key>
				<string>arrow-left.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[DOWN]</string>
				<key>image</key>
				<string>arrow-down.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[RIGHT]</string>
				<key>image</key>
				<string>arrow-right.png</string>
			</dict>
		</array>
	</array>
	<key>smallBox</key>
	<array>
		<array>
			<dict>
				<key>text</key>
				<string>Copy</string>
				<key>action</key>
				<string>[CMD+c]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string>Paste</string>
				<key>action</key>
				<string>[CMD+v]</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[ENTER]</string>
				<key>image</key>
				<string>enter.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[SPACE]</string>
				<key>image</key>
				<string>space-small.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>action</key>
				<string>[BACKSPACE]</string>
				<key>image</key>
				<string>delete.png</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
