<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>chubon.png</string>
	<key>image_highlight</key>
	<string>chubon-highlight.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Plus</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>+</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Three</string>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>3</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Four</string>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>4</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital V</string>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>V</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital U</string>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>U</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital P</string>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>P</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital J</string>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>J</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Five</string>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>5</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Six</string>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>6</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Seven</string>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>7</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Equals</string>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>42</integer>
			<key>action</key>
			<string>=</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Two</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>2</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital Q</string>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>Q</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital M</string>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>M</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital I</string>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>I</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital T</string>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>T</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital S</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>S</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital C</string>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>C</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital K</string>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>K</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital Z</string>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>Z</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Eight</string>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>42</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>8</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Less Than</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>&lt;</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>One</string>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>1</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital G</string>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>G</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital N</string>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>N</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital R</string>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>R</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital E</string>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>E</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital H</string>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>H</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital B</string>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>B</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital Y</string>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>Y</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital X</string>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>X</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Greater Than</string>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>&gt;</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Zero</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>0</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital F</string>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>F</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital O</string>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>O</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital A</string>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>A</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital D</string>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>D</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital L</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>L</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Capital W</string>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>W</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Nine</string>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>9</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Forward Slash</string>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>/</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Pound</string>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>45</integer>
			<key>action</key>
			<string>#</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Underscore</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>_</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>At Symbol</string>
			<key>x</key>
			<integer>22</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>@</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Hyphen</string>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>-</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase v</string>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>v</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase u</string>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>u</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase p</string>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>p</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase j</string>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>j</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Open Parenthesis</string>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>(</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Close Parenthesis</string>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>)</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Double Prime</string>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>"</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Ampersand</string>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>49</integer>
			<key>action</key>
			<string>&amp;</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Tab</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>[TAB]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase q</string>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>q</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase m</string>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>m</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase i</string>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>i</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase t</string>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>t</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase s</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>s</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase c</string>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>c</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase k</string>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>k</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase z</string>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>z</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Single Prime</string>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>211</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>'</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Asterisk</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>*</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Colon</string>
			<key>x</key>
			<integer>22</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>:</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase g</string>
			<key>x</key>
			<integer>51</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>g</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase n</string>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>n</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase r</string>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>r</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase e</string>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>e</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase h</string>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>h</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase b</string>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>b</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase y</string>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>y</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase x</string>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>x</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Dollar Sign</string>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>37</integer>
			<key>action</key>
			<string>$</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Period</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>.</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase f</string>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>f</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase o</string>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>o</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase a</string>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>a</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase d</string>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>d</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase l</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>l</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Lowercase w</string>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>w</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Comma</string>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>[COMMA]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Backspace</string>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>286</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>38</integer>
			<key>action</key>
			<string>[BACKSPACE]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Semi colon</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>43</integer>
			<key>action</key>
			<string>;</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Exclamation Point</string>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>43</integer>
			<key>action</key>
			<string>!</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Question Mark</string>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>43</integer>
			<key>action</key>
			<string>?</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Space</string>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>43</integer>
			<key>action</key>
			<string>[SPACE]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Return</string>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>43</integer>
			<key>action</key>
			<string>[RETURN]</string>
			<key>repeat</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>